<div class="row">
  <div class="col-xs-10">
    <h2>Selected orders:</h2>
    <ul class="list-group">
      <li class="list-group-item col-xs-7" style="cursor: pointer" *ngFor="let order of orders">
        {{order.product.name}} ({{ order.product.cost }} Rub)
        <span class="pull-right">
          <span class="btn btn-xs btn-success" (click)="onConfirm(order)">
            Confirm order
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-10">
    <h2>Confirmed orders:</h2>
    <ul class="list-group">
      <li class="list-group-item col-xs-7" style="cursor: pointer" *ngFor="let order of confirmedOrders">
        {{order.product.name}} ({{ order.product.cost }} Rub)
        <span class="pull-right">
          <span class="">
            {{order.status}}
          </span>
        </span>
      </li>
      </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-10">
    <h2>Completed orders:</h2>
    <ul class="list-group">
      <!-- <a class="list-group-item" style="cursor: pointer"
             *ngFor="let order of orders">
            {{order.product.name}} ({{ order.product.cost }} Rub)
          </a> -->
    </ul>
  </div>
</div>